.sombra{
    box-shadow: 3px 3px 10px #0a3896;

}
h1{
    font-family: "Lobster Two", sans-serif;
}
span:hover{
color: blueviolet;
}
button {
    border: none;
    background-color: white;
    color: white;
    font-size: 20px;
}

button:hover {
    color: blueviolet;
}
li{
    list-style: none;
    border: none;
}
input{
    border: none;
    width: 80%;
    padding: 10px;
    text-align: center;
}